/* Source: https://discourse.joplinapp.org/t/joplin-customization/11195 */

button.new-todo-button {
    /* removes the "New To-do" button (v2.10.6+) */
    display: none;
}
div.new-note-todo-buttons {
     /* removes the the space for the "New To-do" button (v2.10.6+) */
    grid-template-columns: 1fr 0;
    gap: 0px;
}